.custom-checkbox {
    appearance: none; 
    width: 16px;
    height: 16px;
    border: 1px solid #ccc; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    position: relative;
    border-radius: none;
  }
  
  .custom-checkbox:checked {
    background-color: #ff9800;
    border-color: #ff9800;
  }
  
  .custom-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
  }
  input:focus,
textarea:focus,
select:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="search"]:focus {
  border-color: #ff7f00 !important;
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(255, 127, 0, 0.5) !important;
}
